name: build
on: [pull_request, push]

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v2
      - run: |
           docker build -f bin/all.Dockerfile \
             --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
             --tag shimmy-docker .
      - name: Run tests
        run: docker run shimmy-docker pytest
