name: build
on: [pull_request, push]

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  optional-test-meltingpot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # Melting Pot
      - run: |
          docker build -f bin/meltingpot.Dockerfile \
            --build-arg PYTHON_VERSION='3.11' \
            --tag shimmy-meltingpot-docker .
      - name: Run meltingpot tests
        run: docker run shimmy-meltingpot-docker pytest tests/test_meltingpot.py
